<%- include ( 'header.ejs' ); %>
  <main>
    <div>
      <h2>
        <%= data.collection.collection_name %>
      </h2>
      <img src="<%= data.collection.image %>" alt=<%=data.collection.collection_name%>>
    </div>
    <div>
      <ul class="collection-list">

        <% data.collection.vinyls.forEach( vinyl=> { %>

          <li>

            <a href="/vinyls/<%= vinyl.vinyl_id %>">
              <h3>
                <%= vinyl.vinyl_name %>
              </h3>
              <img src="<%= vinyl.image %>" alt="<%= vinyl.vinyl_name %>">
            </a>

            <% vinyl.genres.forEach (genre=> { %>
              
              <div>
              <p>
                <%= genre.genre_name %> 
              </p>
              </div>

              <% }) %>

          </li>

          <% }) %>

      </ul>
    </div>
    <div>
      <a href="/collections/<%= data.collection.collection_id %>/reviews">
        <button>
          Reviews
        </button>
      </a>
      <!-- <form action="/collections/<%= data.collection.collection_id %>?_method=DELETE" method="POST">
        <button>
          Delete
        </button>
      </form> -->
    </div>
  </main>
  <%- include ( 'footer.ejs' ); %>