    <%- include ( 'header.ejs' ); %>
    <main>
        <%- include ( 'filterComponent.ejs' ) %>
        <ul class="collection-list">
            <% data.collections.forEach(collection => { %>
                <li>
                      <img src=<%= collection.image %> alt=<%=collection.collection_name%>>
                      <a href="/collections/<%= collection.collection_id %>">
                        <h3><%= collection.collection_name %></h3>
                      </a>
                      <a href="/users/<%= collection.users.username %>">Created by 
                        <%= collection.users.first_name %> 
                        <%= collection.users.last_name %>
                      </a>
                      <div class="ratings">
                        <span> <%= collection.likes %> <i class="fa fa-thumbs-up" style="font-size:24px"></i></span>
                        <i class="fas fa-star"></i>
                      </div>

                  </li>
            <% }) %>
        </ul>
      </section>
    </main>
    <%- include ( 'footer.ejs' ); %>