
<%- include ( 'header.ejs' ); %>
<main class="container mt-5">
  <%- include ( 'filterComponent.ejs' ) %>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    <% data.collections.forEach(collection => { %>
      <div class="col mb-4">
        <div class="card h-100">
          <div class="embed-responsive embed-responsive-16by9">
          <img src=<%= collection.image %> alt=<%=collection.collection_name%> class="card-img-top ">
          </div>
          <div class="card-body">
            <a href="/collections/<%= collection.collection_id %>">
              <h4 class="card-title"><%= collection.collection_name %></h4>
            </a>
            <a href="/users/<%= collection.users.username %>">Created by <%= collection.users.first_name %> <%= collection.users.last_name %></a>
            <div class="card-text mt-2">
              <div class="ratings d-flex">
                 <%= collection.likes_count %> 
                 <span class="material-icons " style="margin-left: 5px;">
                  thumb_up_off_alt
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
 
</main>
<%- include ( 'footer.ejs' ); %>
