<%- include('header.ejs'); %>

    <main class="container mt-4">
        <div>
            <h2>
                <%= user.first_name + ' ' + user.last_name %> Profile
            </h2>
        </div>
        <div>
            <ul class="list-group">
                <% data.user.collections.forEach(collection => { %>
                  <li class="list-group-item h-100">
                    <div class="row align-items-center h-100">
                      <div class="col-12 col-md-4 " style="height: 100px;">
                        <img src="<%=collection.image %>" alt="<%=collection.collection_name%>" class="img-fluid h-100 w-100" style="object-fit:scale-down;">
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h5><%= collection.collection_name %></h5>
                          </div>
                          <div class="text-center">
                            <form action="/profile/<%= user.username %>/collections/<%= collection.collection_id %>" method="get">
                              <button type="submit" class="btn btn-primary">Edit Collection</button>
                            </form>
                          </div>
                        </div>
              
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="ratings d-flex">
                            <%= collection.likes_count %> 
                            <span class="material-icons" style="margin-left: 5px;">thumb_up_off_alt</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                <% }) %>
              </ul>
              
        </div>
        <div class="button d-flex mt-4">
            <div class = "d-flex">
            <form action="/create/vinyls" method="get">
                <button type="submit" class="btn btn-primary me-3">
                    Add New Vinyl
                </button>
            </form>
            <form action="/profile/<%= user.username %>/vinyls" method="get">
                <button type="submit" class="btn btn-primary me-3">
                    Manage Your Vinyls
                </button>
            </form>
            </div>
            <div>
            <form action="/create/collections" method="get">
                <button type="submit" class="btn btn-primary me-3">
                    Create New Collection
                </button>
            </div>
            </form>
        </div>

    </main>

    <%- include('footer.ejs'); %>