
  <%- include('header.ejs'); %>

  <main class="container mt-5">
    <div class="row">
      <% data.reviews.forEach(review => { %>
        <div class="col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="card-title"><%= review.review_text %></h3>
              <p class="card-text"><%= review.user.first_name %> <%= review.user.last_name %></p>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addReviewModal">
        Add Review
      </button>
    </div>
    <div class="modal fade" id="addReviewModal" tabindex="-1" aria-labelledby="addReviewModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addReviewModalLabel">Add Review (Login required)</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/collections/<%= data.collection_id %>/reviews" method="POST">
            <div class="modal-body">
              <div class="mb-3">
                <label for="review-text" class="form-label">Review</label>
                <textarea class="form-control" id="review-text" name="review_text"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  
  <%- include('footer.ejs'); %>
  